build/Makefile
build/codedesigner.workspace
build/premake/premake-linux
build/premake/src/obj/
build/wxShapeFramework/.objsu/
build/wxShapeFramework/Makefile
build/wxShapeFramework/wxShapeFramework.project
output/
.objsu
src/CodeDesigner.project
src/Makefile
src/ctags/Ctags.project
src/ctags/Makefile
src/plugins/codelite/CodeLite.project
src/plugins/codelite/Makefile
src/plugins/diagTest/Makefile
src/plugins/diagTest/diagTest.project
src/plugins/diagUml/Makefile
src/plugins/diagUml/diagUml.project
src/plugins/genUml/Makefile
src/plugins/genUml/genUml.project
src/plugins/revEng/Makefile
src/plugins/revEng/ReverseEngineering.project
src/projectbase/Makefile
src/projectbase/projectBase.project
